body{
  font-family: Helvetica, sans-serif;
}

#guess{
  letter-spacing: .5rem;
}

section{
  background-image: url('../images/hangman.png');
  background-position: 75px 0;
  height: 200px;
  width: 75px;
}
